<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities</title>
    
    <!--links-->
    <link rel="stylesheet" href="..\static\style\beasiswa.css">
    <script src="https://kit.fontawesome.com/0d951ec55a.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--header-->
    <header>
        <a href="lobby.html" class="logo"><img src="..\files\logo.png"></a>
        <ul>
            <li><a href="#beasiswa">Scholarships</a></li>
            <li><a href="#jobs">Jobs</a></li>
        </ul>
        <script src="..\assets\script\main.js"></script>
    </header>
    <!--body-->
    <div class="container">
        <div class="beasiswa" id="beasiswa">
            <h1>Scholarships</h1>
            <div class="row">
                <div class="clm">
                    <a href="https://future.utoronto.ca/pearson/about/"><img src="..\files\can.png" class="devimg"></a>
                    <p>Undergraduate Scholarships in Canada</p>
                </div>
                <div class="clm">
                    <a href="https://tafs.mofa.gov.tw/SchDetailed.aspx?loc=en&ItemId=18"><img src="..\files\twn.png" class="devimg"></a>
                    <p>Undergraduate Scholarships in Taiwan</p>
                </div>
                <div class="clm">
                    <a href="https://sfao.ust.hk/scholarship_search.php?level=UG"><img src="..\files\hk.png" class="devimg"></a>
                    <p>Undergraduate Scholarships in HongKong</p>
                </div>
            </div>
            <div class="row">
                <div class="clm">
                    <a href="https://future.utoronto.ca/pearson/about/"><img src="..\files\can.png" class="devimg"></a>
                    <p>Undergraduate Scholarships in Canada</p>
                </div>
                <div class="clm">
                    <a href="https://tafs.mofa.gov.tw/SchDetailed.aspx?loc=en&ItemId=18"><img src="..\files\twn.png" class="devimg"></a>
                    <p>Undergraduate Scholarships in Taiwan</p>
                </div>
                <div class="clm">
                    <a href="https://sfao.ust.hk/scholarship_search.php?level=UG"><img src="..\files\hk.png" class="devimg"></a>
                    <p>Undergraduate Scholarships in HongKong</p>
                </div>
            </div>
        </div>
    </div>
    <!--jobs-->
    <div class="container">
        <div class="jobs" id="jobs">
            <h1>Jobs</h1>
            
        </div>
    </div>
    <!--footer-->
    <footer class="footer">
        <p>made by kauai, &#169; 2021</p>
        <div class="social">
            <a href="https://www.instagram.com/hero_era/"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>