<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Hero Era!</title>

    <!--links-->
    <link rel="stylesheet" href="..\static\style\main.css">
    <script src="https://kit.fontawesome.com/0d951ec55a.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--head-->
    <header>
        <a href="#" class="logo"><img src="..\files\logo.png"></a>
        <ul class="navbar">
            <li><b><a href="#about">About</a></b></li>
            <li><b><a href="#features">Features</a></b></li>
            <li><b><a href="#faqs">FAQs</a></b></li>
        </ul>
        <a href="login2.html" class="button log">Start</a>
        <script src="..\static\script\main.js"></script>
    </header>
    <!--home-->
    <div class="container">
        <div class="home">
            <h1>Hero Era</h1>
            <p><i>Open arms. Open minds. Open yours.</i></p>
            <a href="login2.html" class="button start">Be a Hero!</a>
        </div>
    </div>
    <!--about-->
    <div class="container">
        <div class="about" id="about">
            <h1>About Us</h1>
            <p>People who contributed in the making of <b><i>Hero Era.</i></b></p>
            <div class="row">
                <div class="column">
                    <a href="https://www.instagram.com/monica_aw/"><img src="..\files\cimonic.png"></a>
                    <p class="name">Monica Wahyudi</p>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/aikoilena_0322/"><img src="..\files\aiko.png"></a>
                    <p class="name">Aiko S.</p>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/amandasus5/"><img src="..\files\amnda.png"></a>
                    <p>Amanda Susiandi</p>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/_c.avery/"><img src="..\files\keri.png"></a>
                    <p class="name">Caroline Tanto</p>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href=""><img src="..\files\jona.png"></a>
                    <p class="name">Jonathan Wijaya</p>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/nikolasdodol/"><img src="..\files\nopic.png"></a>
                    <p class="name">Nicholas Widjaja</p>
                </div>
            </div>
        </div>
    </div>
    <!--features-->
    <!--faqs-->
    <!--footer-->
    <footer class="footer">
        <p>made by kauai, &#169; 2021</p>
        <div class="social">
            <a href="https://www.instagram.com/hero_era/"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>